{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block nav %}
    <nav>
        <a href="javascript:void(0);" class="icon" onclick="menu('myLinks')">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="myLinks">
            <a href="/">Store</a>
            <a href="/cart/">Cart <span class="cart">{{request.session.cart|length}}</span></a>
            {% if user %}
                <a href="/customer/profile/">Profile</a>
                {% if navOrders != False %}
                    <a href="/customer/myOrders/">Your Orders</a>
                {% endif %}
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/logReg/">Login</a>
            {% endif %}
        </nav>
    </nav>
    {% endblock nav %}
</body>
</html>     