{% load static %}
{% load cart %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <div class="printArea" id="print">
            <div class="row">
                <div class="column">
                    <h3>Kowabunga-Hooker</h3>
                    <h3>Order Number: {{theOrder.orderNum}}</h3>
                    <input type="hidden" name="order" id="theOrder" value="{{theOrder.orderNum}}">
                </div>
                <div class="column">
                    <h2>{{user.firstName}}</h2>
                    <input type="hidden" name="user" value="{{user.id}}" id="theUser">
                </div>
            </div>
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
    <script>invoiceData()</script>
</body>
</html>