{% load static %}
{% load cart %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Welcome {{user.firstName}} to your Order History Page</h1>
        <h3>Your Orders</h3>
        <table>
            <tr>
                <th>Order Number</th>
                <th>Date Placed</th>
                <th>Status of Order</th>
                <th>Order total</th>
                <th>Status of Payment</th>
                <th>View Invoice</th>
            </tr>
            {% for i in invoices %}
                {% for o in navOrders %}
                    {% if o.id == i.cart_id %}
                        <tr>
                            <td>{{o.orderNum}}</td>
                            <td>{{o.createdAt}}</td>
                            <td>{{o.orderStatus}}</th>
                            <td>{{o.orderTotal}}</td>
                            <td>{{o.paymentStatus}}</td>
                            <td><a href="{% url 'viewInvoice' i.id %}" target="_blank">View Invoice</a></td>


                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>