.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font: #06103C;
@bg: #DDD5CA;
@pink: #E4489A;
@blue: #3191A3;
@yellow: #D9DB6C;