.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  text-align: center;
  padding: 0.5em;
}
tr,
th,
td {
  border-bottom: 2px solid #b4d9e4;
}
.start {
  text-align: left;
}
.end {
  text-align: right;
}
body .imgScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
body .imgScreen .imgRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .imgScreen .imgLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .imgScreen .imgLeft .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .imgScreen .imgLeft .column .thumb {
  max-width: 75px;
}
body .imgScreen .imgLeft #current {
  max-width: 250px;
}
@media only screen and (min-width: 850px) {
  body .imgScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
