.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  text-align: center;
  padding: 0.5em;
}
tr,
th,
td {
  border-bottom: 2px solid #b4d9e4;
}
.start {
  text-align: left;
}
.end {
  text-align: right;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #e9dbce;
  color: #020612;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .header img {
  max-width: 125px;
  margin: 0.5em;
  border-radius: 70% 30% 70% 0%;
  border: 4px groove #c6a280;
}
body header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav #myLinks {
  display: none;
}
body header nav #myLinks a {
  color: #020612;
  text-decoration: none;
  font-size: 1.1em;
}
body header nav #myLinks a .cart {
  background-color: #c6a280;
  border-radius: 20%;
  padding: 0.15em;
  color: #e9dbce;
  font-weight: 700;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .thankyou {
  max-width: 300px;
  margin: 1em;
}
body main .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .left #myCats {
  display: none;
}
body main .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .right .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px groove #c6a280;
  padding: 0.5em;
  margin: 0.5em;
}
body main .right .column img {
  max-width: 200px;
}
body main .right .column h4 {
  align-self: flex-start;
}
body main .right .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main #reg {
  display: none;
}
body main .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8dce9d;
  padding: 1em;
  width: 85%;
  margin: 1em 0.5em;
  font-size: 1.2em;
  border: 3px groove #c6a280;
}
body main .form .button {
  width: 90%;
  background-color: #336447;
  color: #e9dbce;
  margin: 0.5em 0;
  font-size: 1em;
  border: 3px groove #020612;
}
body main .form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0.5em 0;
}
body main .form section label {
  align-self: flex-start;
  margin: 0.5em 0;
}
body main .form section input {
  display: block;
  width: 100%;
}
body main .form section .toolTip {
  position: relative;
  display: inline-block;
}
body main .form section .toolTip .toolTipText {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 44%;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.3s;
}
body main .form section .toolTip .toolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
body main .form section .toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}
body main .logReg {
  width: 90%;
  background-color: #336447;
  padding: 0.5em;
  border: 3px groove #020612;
}
body main .logReg a {
  font-size: 1.2em;
  color: #e9dbce;
  text-decoration: none;
}
body main .mobileHide {
  display: none;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
