.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  text-align: center;
  padding: 0.5em;
}
tr,
th,
td {
  border-bottom: 2px solid #b4d9e4;
}
.start {
  text-align: left;
}
.end {
  text-align: right;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #e9dbce;
  color: #020612;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .header img {
  max-width: 125px;
  margin: 0.5em;
  border-radius: 70% 30% 70% 0%;
  border: 4px groove #c6a280;
}
body header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav #myLinks {
  display: none;
}
body header nav #myLinks a {
  color: #020612;
  text-decoration: none;
  font-size: 1.1em;
}
body header nav #myLinks a .cart {
  background-color: #c6a280;
  border-radius: 20%;
  padding: 0.15em;
  color: #e9dbce;
  font-weight: 700;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .thankyou {
  max-width: 300px;
  margin: 1em;
}
body main .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .left #myCats {
  display: none;
}
body main .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .right div a {
  color: #020612;
  text-decoration: none;
  font-size: 1.2em;
}
body main .right div a .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px groove #c6a280;
  padding: 0.5em;
  margin: 0.5em;
}
body main .right div a .column img {
  max-width: 200px;
}
body main .right div a .column h4 {
  align-self: flex-start;
}
body main .right div a .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main #reg {
  display: none;
}
body main .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8dce9d;
  padding: 1em;
  width: 85%;
  margin: 1em 0.5em;
  font-size: 1.2em;
  border: 3px groove #c6a280;
}
body main .form .button {
  width: 90%;
  background-color: #336447;
  color: #e9dbce;
  margin: 0.5em 0;
  font-size: 1em;
  border: 3px groove #020612;
}
body main .form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0.5em 0;
}
body main .form section label {
  align-self: flex-start;
  margin: 0.5em 0;
}
body main .form section input {
  display: block;
  width: 100%;
}
body main .form section .toolTip {
  position: relative;
  display: inline-block;
}
body main .form section .toolTip .toolTipText {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 44%;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.3s;
}
body main .form section .toolTip .toolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
body main .form section .toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}
body main .logReg {
  width: 90%;
  background-color: #336447;
  padding: 0.5em;
  border: 3px groove #020612;
}
body main .logReg a {
  font-size: 1.2em;
  color: #e9dbce;
  text-decoration: none;
}
body main .mobileHide {
  display: none;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 850px) {
  body header {
    width: 95%;
  }
  body header .header {
    width: 100%;
    justify-content: space-evenly;
  }
  body header .header img {
    max-width: 250px;
  }
  body header .header h1 {
    font-size: 2.2em;
  }
  body header nav {
    width: 100%;
  }
  body header nav .icon {
    display: none;
  }
  body header nav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    justify-content: space-around;
    margin: 1em;
  }
  body header nav #myLinks a {
    font-size: 1.4em;
  }
  body .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;
  }
  body .screen .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-right: 25em;
  }
  body .screen .left .icon {
    display: none;
  }
  body .screen .left #myCats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .screen .left #myCats a {
    font-size: 1.4em;
    text-decoration: none;
    color: #336447;
    margin: 1em;
    padding: 1em;
    border: 2px #552d76 groove;
    width: 200px;
    text-align: center;
  }
  body .screen .left #myCats .custom-btn {
    width: 230px;
    height: 40px;
    color: #336447;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px 5px 0px #0000001a;
    outline: none;
  }
  body .screen .left #myCats .btn {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #fbbbd8 0%, #dcccf3 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  body .screen .left #myCats .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  body .screen .left #myCats .btn span:hover {
    color: #c797eb;
  }
  body .screen .left #myCats .btn span:before,
  body .screen .left #myCats .btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    transition: all 0.3s ease;
  }
  body .screen .left #myCats .btn span:before {
    width: 2px;
    height: 0%;
  }
  body .screen .left #myCats .btn span:after {
    height: 2px;
    width: 0%;
  }
  body .screen .left #myCats .btn span:hover:before {
    height: 100%;
  }
  body .screen .left #myCats .btn span:hover:after {
    width: 100%;
  }
  body .screen .left #myCats .btn .btn:before,
  body .screen .left #myCats .btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    transition: all 0.3s ease;
  }
  body .screen .left #myCats .btn:before {
    height: 0%;
    width: 2px;
  }
  body .screen .left #myCats .btn:after {
    width: 0%;
    height: 2px;
  }
  body .screen .left #myCats .btn:hover:before {
    height: 100%;
  }
  body .screen .left #myCats .btn:hover:after {
    width: 100%;
  }
  body .screen .left #myCats .btn:hover {
    background: transparent;
  }
  body .screen .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25em;
    width: 50%;
    flex-wrap: wrap;
  }
  body .screen .right .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1000px) {
  body .screen .right .screen {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1250px) {
  body main .right div .column img {
    max-width: 300px;
  }
}
@media only screen and (min-width: 1400px) {
  body .screen .left {
    margin-right: 50em;
  }
  body .screen .right {
    width: 65%;
  }
}
@media only screen and (min-width: 1650px) {
  body .screen .left {
    margin-right: 70em;
  }
}
