.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #e9dbce;
  color: #020612;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .header img {
  max-width: 125px;
  margin: 0.5em;
  border-radius: 70% 30% 70% 0%;
  border: 4px groove #c6a280;
}
body header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav #myLinks {
  display: none;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .left #myCats {
  display: none;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
