@import './less/base.less';

body {
    .flexcolumn();
    width: 95%;

    header {
        .flexcolumn();
        width: 95%;

        .row {
            .flexrow();
            width: 95%;
            justify-content: space-evenly;

            img {
                max-width: 250px;
                border-radius: 50%;
            }
        }
        nav {
            .flexrow();
            width: 95%;
            justify-content: space-evenly;
            font-size: 1.2em;
            margin: 1em;
        }
    }
    main {
        .flexcolumn();
        width: 95%;
    }
    footer {
        .flexcolumn();
        width: 95%;

        h4 {
            .flexrow();
            width: 50%;
            padding: .5em 2em;

            a {
                .flexrow();
                padding: .5em 1em;

                img {
                    max-width: 50px;
                    padding: 0 1em;
                }
            }
        }
    }
}

@import './less/media.less';