.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  text-align: center;
  padding: 0.5em;
}
tr,
th,
td {
  border-bottom: 2px solid #b4d9e4;
}
.start {
  text-align: left;
}
.end {
  text-align: right;
}
@media only screen and (min-width: 850px) {
  body header {
    width: 95%;
  }
  body header .header {
    width: 100%;
    justify-content: space-evenly;
  }
  body header .header img {
    max-width: 250px;
  }
  body header .header h1 {
    font-size: 2.2em;
  }
  body header nav {
    width: 100%;
  }
  body header nav .icon {
    display: none;
  }
  body header nav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    justify-content: space-around;
    margin: 1em;
  }
  body header nav #myLinks a {
    font-size: 1.4em;
  }
  body .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;
  }
  body .screen .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-right: 25em;
  }
  body .screen .left .icon {
    display: none;
  }
  body .screen .left #myCats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .screen .left #myCats a {
    font-size: 1.4em;
    text-decoration: none;
    color: #336447;
    margin: 1em;
    padding: 1em;
    border: 2px #552d76 groove;
    width: 200px;
    text-align: center;
  }
  body .screen .left #myCats .custom-btn {
    width: 230px;
    height: 40px;
    color: #336447;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px 5px 0px #0000001a;
    outline: none;
  }
  body .screen .left #myCats .btn {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #fbbbd8 0%, #dcccf3 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  body .screen .left #myCats .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  body .screen .left #myCats .btn span:hover {
    color: #c797eb;
  }
  body .screen .left #myCats .btn span:before,
  body .screen .left #myCats .btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    transition: all 0.3s ease;
  }
  body .screen .left #myCats .btn span:before {
    width: 2px;
    height: 0%;
  }
  body .screen .left #myCats .btn span:after {
    height: 2px;
    width: 0%;
  }
  body .screen .left #myCats .btn span:hover:before {
    height: 100%;
  }
  body .screen .left #myCats .btn span:hover:after {
    width: 100%;
  }
  body .screen .left #myCats .btn .btn:before,
  body .screen .left #myCats .btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    transition: all 0.3s ease;
  }
  body .screen .left #myCats .btn:before {
    height: 0%;
    width: 2px;
  }
  body .screen .left #myCats .btn:after {
    width: 0%;
    height: 2px;
  }
  body .screen .left #myCats .btn:hover:before {
    height: 100%;
  }
  body .screen .left #myCats .btn:hover:after {
    width: 100%;
  }
  body .screen .left #myCats .btn:hover {
    background: transparent;
  }
  body .screen .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25em;
    width: 50%;
    flex-wrap: wrap;
  }
  body .screen .right .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
